
h1 {
 color: whitesmoke

}

body {
    background-color: green;
}

ul {
    color: white
}

h2 {
    color: White
}

p {
    color: white
}

h3 {
    color: white
}

p{
    color: white
}

h4 {
    color: white
}

p a {
    color: white
}       

ul {
    color: white
}

h5 {
    color: white
}